
html {
  font-size: 35px;
  color: colors.$graphite;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: colors.$graphite;
}

.pink-banner {
  background-color: colors.$nitropink;
}

.gray-banner {
  background-color: colors.$lightgray;
}

/* Top Site Navigation Bar */
/* START */

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 5.5rem;

  &--nitro {
  display: flex;
  flex-direction: row;
}

&--nitrosite-nav--nitro {
  height: 7rem;
}

&__coffee-bean-logo--link {
  padding: 0;
  margin: 0;
}

&__coffee-bean-logo {
  width: 3rem;
  padding: 0.7rem 0 0 0.7rem;
}

h2 {
  margin: 0.4em 0;
}

}


.top-bar {
&__home-button--h2 {
  padding: 0;
  margin: 0;
  font-size: 3.75rem;
  font-weight: 300;
}

&__nav-links {
  display: inline-block;
  padding: 1.2rem;
  color: colors.$graphite;
  text-decoration: none;

  &:hover {
    display: inline;
    padding: 1.2rem;
    color: colors.$nitroblue;
    text-decoration: none;
    transition: .3s;
  }
}

&__home-button--link {
  color: colors.$graphite;
  font-size: 2.5rem;
  width: 2rem;
  text-decoration: none;
  &:visited {
    text-decoration: none;
    color: colors.$graphite;
    font-weight: 300;
  }
  &:hover {
    color: colors.$graphite;
    font-weight: 400;
    letter-spacing: -0.1rem;
    text-decoration: none;
  }
}
}

/* Top Site Navigation Bar */
/* END */

